<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>David Lewallen's Python Tools</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <!-- Additional Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fsvs.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chocolat.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css')}}">

    <link href="https://fonts.googleapis.com/css?family=Hind+Vadodara:300,400,500,600,700" rel="stylesheet">
</head>
<body>
    {% include 'navbar.html' %}
    
    <div class="container mt-5">
        {% block content %}
        <!-- Content overridden by child templates -->
        {% endblock %}
    </div>

</body>
</html>
