{% extends 'base.html' %}


<!-- 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connect to BigQuery</title>
</head>
<body> -->

{% block content  %}
   
    <!--Display if the user is connected to the database. -->
    {% if connection_info.project_name and connection_info.dataset_id and connection_info.table_id %}
    <div>
        <p>You are connected to BigQuery project: '{{ connection_info.project_name }}'</p>
        <p>Dataset ID: '{{ connection_info.dataset_id }}'</p>
        <p>Table: '{{ connection_info.table_id }}'</p>
    </div>
{% endif %}

<br>
<h2>Connect To BigQuery</h2>
<br>
<h3>Step 1: Set Google Cloud Credentials</h3>
    
    <p> Locate your Json Credential File by clicking the 'Browse' button below. Once selected click the 'SET GOOGLE CLOUD CREDENTIALS' Button to connect to BigQuery. 

    <div class="container vh-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col col-sm-8 col-md-6 col-lg-4">
            <form action="/connect" method="post" enctype="multipart/form-data">
                <input type="hidden" name="action" value="set_credentials">
                <input type="file" id="credentials_file" name="credentials_file" required><br><br>
                <input type="submit" value="Set Google Cloud Credentials" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>

<!-- 

    <form action="/connect" method="post" enctype="multipart/form-data">
        <input type="hidden" name="action" value="set_credentials">
        <input type="file" id="credentials_file" name="credentials_file" required><br><br>
        <input type="submit" value="Set Google Cloud Credentials">
    </form>
-->

    
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash-{{category}}">{{message}}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
<br>
<br>
<h3>Step 2: Connect to BigQuery Dataset & Table ID</h3>

    <form action="/connect" method="post">
        <input type="hidden" name="action" value="connect">
        <label for="dataset_id">Dataset ID:</label><br>
        <input type="text" id="dataset_id" name="dataset_id" required><br>
        <label for="table_id">Table ID:</label><br>
        <input type="text" id="table_id" name="table_id" required><br><br>
        <input type="submit" value="Connect">
    </form>
    <br>
    
  


    <br>
    <!--Form button to display the data -->
    <form action="/display_data" method="post">
    <input type="submit" value="Display Data">
    </form>

    <br>
    <br>



{% endblock  %}
</body>
</html>
